.albumDiv{
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-image: url('../content/general/kodak-film.png');
    background-position: center;
    background-size: contain;
}

    @media only screen and (max-width: 1670px) {
        .albumDiv{
            margin-top: 1vh;
        }
    }

    @media only screen and (max-width: 1500px) {
        .albumDiv{
            height: 35vh;
        }
    }

    @media only screen and (max-width: 1000px) {
        .albumDiv{
            display: none;
        }
    }