.authorDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3vw;
}

.authorImgDiv{
    width: 8%;
    margin-right: 2vw;
}

.authorImgDiv img{
    width: 100%;
    border-radius: 50%;
}

.authorText{
    width: 60%;
}

.authorText h3{
    font-size: 1.3rem;
    color: blue;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.authorText h3:hover{
    color: rgb(122, 122, 236);
}

.authorText p{
    font-size: 1rem;
}

@media only screen and (max-width:1000px){
    .authorText{
        width: 80%;
        margin-bottom: 30px;
    }

    .authorImgDiv{
        width: 13%;
    }

    .authorDiv{
        margin-top: 10vw;
    }
}

@media only screen and (max-width:700px){
    .authorImgDiv{
        width: 16%;
    }
}

@media only screen and (max-width:400px){
    .authorImgDiv{
        width: 30%;
    }
}