.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 30px;
    column-gap: 20px;
    padding: 0 1%;
}

@media only screen and (max-width: 1000px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
    
  }