@keyframes slidein {
    from {
      transform: translateX(0) rotate(0deg);
    }
  
    to {
      transform: translateX(2000px) rotate(250deg);
    }
  }


  @keyframes slideinPage {
    from {
      transform: translateX(-2000px) rotate(-250deg);
    }
  
    to {
      transform: translateX(0px) rotate(0deg);
    }
  }

.card{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cardImg{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loadingImg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../content/general/loadingImage.png');
  background-size: contain;
}

.cardImg img{
    width: 90%;
}

.cardInfo{
    background-color: #c8c5c9;
    border-radius: 12px;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease .5s, box-shadow ease .5s;
    padding: 2% 2% 0 2%;
    margin-bottom: 2vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cardInfo:hover{
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.textInfo{
  height: 50px;
}



.cardInfo h5{
  font-style: italic;
  font-size: 0.8rem;
  color: rgb(29, 28, 28);
}

.cardInfo h4{
  font-size: 1.1rem;
}

.cardInfo h1{
  /* margin-right: 10px;
  bottom: 0;
  right: 0;
  position: absolute; */
  font-size: 1.7rem;
}

.rating{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 1%;
  height: 100%;
}

.starIcon{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starIcon img{
  width: 80%;
}

.mobileRating{
  display: none;
  position: absolute;
  z-index: 10;
  background-color: rgb(19, 19, 19);
  padding:3%;
  border-radius: 5%;
}

@media only screen and (max-width: 1400px) {
  .textInfo{
    height: 60px;
  }
}

@media only screen and (max-width: 768px){
    .rating{
      display: none;
    }

    .mobileRating{
      display: block;
    }

    .textInfo{
      height: 30px;
    }

    .cardInfo{
      background-color: #ffffff;
      opacity: 0.8;

    }
}

@media only screen and (max-width: 620px) {
  .textInfo{
    height: 40px;
  }
}
