.homeDivH1 h1{
    font-size: 4rem;
    padding-top: 40px;
    padding-left: 20px;
    width: 99%;
    border-bottom: 2px solid black;
}

.homeDiv{
    background-image: url('../content/general/3376820.jpg');
    background-size: 55%;
    padding: 0 5% 3% 5%;
}

@media only screen and (max-width:1000px){
    .homeDivH1 h1{
        font-size: 3rem;
        text-align: center;
    }
}