
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
}

html{
    background-color: #FFC93C ;
    height: 100%;
    overflow-x: hidden;
}

body{
    height: 100%;
}

.main{
    background-color: #FFC93C ;
    height: 100vh;
}

.margin{
    display: grid;
    column-gap: 1%;
    grid-template-columns: 4fr 1fr;
    padding-top: 15vh;
    padding-bottom: 8vh;
    margin-left: 5%;
    margin-right: 5%;
}

/* Change highlight color */
::selection {
    background: brown;
  }

  @media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .margin{
        margin-left: 3%;
        margin-right: 3%;
        grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }

    .margin{
        margin-left: 2%;
        margin-right: 2%;
    }
  }

  
  @media only screen and (max-width: 370px) {
    html {
        font-size: 11px;
    }
  }